/* page styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: hsl(228, 12%, 48%);
    background-color: hsl(30, 38%, 92%);
}

.container {
    width: 375px;
    margin: 0 auto;
}

/* typography */
h2 {
    color: hsl(212, 21%, 14%);
    margin-bottom: 16px;
}

h2,
.price-now {
    font-family: 'Fraunces', serif;
    font-size: 2.286rem;
}

.price-now {
    color: hsl(158, 36%, 37%);
    margin-right: 19px;
    vertical-align: middle;
}

.price-before {
    text-decoration: line-through;
    font-size: .929rem;
    vertical-align: middle;
}

p.category {
    font-size: .857rem;
    letter-spacing: 5px;
    text-transform: uppercase;
    margin-bottom: 12px;
}

p.product-descr {
    line-height: 23px;
}

/* card styles */
.product-card {
    display: flex;
    flex-direction: column;
    margin: 28px 16px;
    border-radius: 10px;
    overflow: hidden;
    background-color: hsl(0, 0%, 100%);
}

.product-img {
    order: 1;
    height: 240px;
    
}

.product-img > img {
    width: 100%;
    object-fit: cover;
    /* fill up whole container fix */
    height: inherit;
}

.product-info {
    order: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-copy {
    margin: 24px ;
}

/* pricing styles */

.pricing {
    margin: 0 24px 24px;
}

.price-now,
.price-before {
    display: inline-block;
}

.btn-cart {
    width: 100%;
    height: 48px;
    border: 0px;
    border-radius: 8px;
    margin-top: 20px;
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: hsl(158, 36%, 37%);
    gap: 12px;
    font-weight: 700;
    color: hsl(0, 0%, 100%);

}

